.answer_container {
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 0px;
    min-height: 25px;
  }
  .answer {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-top: 0.3%;
  }
  .hidden {
    background-color: black;
  }
  .shown {
    background-color: lightgreen;
  }
  .wrong {
    background-color: red;
  }
body {
  text-align: center;
  font-family: Copperplate, fantasy;
}
